*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 10%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#icon{
    font-size: 20pt;
}

#headerText{
    font-weight: bolder;
    font-size: 13pt;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#option{
    display: flex;
}

#option button{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    font-size: 10pt;
    padding: 5px 20px;
    border-radius: 15px; 
    margin: 0px 5px;
}

#option button:hover{
    border: 1px solid black;
}

#main{
    background-color: rgb(245, 245, 245);
    display: flex;
    width: 100%;
    height: 90%;
    padding: 0px;
    gap: 10px;
}

#historyContainer{
    background-color: rgb(250, 250, 250);
    border-right: 1px solid rgb(235, 235, 235);;
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#container button{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 10px;
    padding: 5px 15px;
}

#jarvis{
    width: 100%;
    padding: 5px;
}

#settingMenu{
    display: flex;
    gap: 10px;
    font-size: 10pt;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

#settingMenu button{
    border:  none;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}

#chat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;
    overflow: auto;
}

#message{
    display: flex;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    height: 50px;
}

#prompt{
    width: 100%;
}

#invia{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

.message{
    align-self: self-end;
    width: fit-content;
    padding: 5px;
    max-width: 49%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 5px;
}

.responce button{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.responce p{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
}

.responce{

    width: fit-content;
    padding: 5px;
    max-width: 49%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 5px;
}

input{
    border: none;
    padding: 5px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);;
    border-radius: 5px;
}